{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  
<div class="container my-3">

<h2>Search Results:</h2>

{% if allPosts|length < 1 %}
<p>No Search results found!</p>

<p>Your search - <b>{{query}}</b> did not match with any document. Try another search.</p> 
{% endif %}
</div>
<div class="container">

{% for post in allPosts %}


    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-2">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{post.title}}</h3>
            <p class="blog-post-meta">{{post.timestamp}} by <a href="#">{{post.author}}</a></p>
            <div class="mb-1 text-muted">{{post.timestamp}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:200 }}</p>
            <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>

    </div>
    {% endfor %}
</div>






{% endblock body %}