{% extends 'base.html' %}

{% block title %} Blog Home {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %} 

<div class="container">
    <div class="py-3 text-center">
        <h2>Coding articles by iCoder</h2>
        <p class="lead"> Below is our expamples of our Blog!</p>
    </div>

    {% for post in allPosts %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <p class="blog-post-meta">{{post.timestamp}} by <a href="#">{{post.author}}</a></p>
            
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.timestamp}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:200 }}</p>
            <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>

    </div>
    {% endfor %}
</div>

    


{% endblock body %}

